<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Asyncy</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
  </head>
  <body>
    <ul>
    <li><a href="http://{{dns|safe}}:8080">Traefik</a></li>
    <li><a href="http://metabase.{{dns|safe}}">Metabase</a></li>
    <li><a href="http://app.{{dns|safe}}">Asyncy App</a></li>
    <li><a href="http://hub.{{dns|safe}}">Asyncy Hub</a></li>
    <li><a href="http://api.{{dns|safe}}">Asyncy API Rest</a></li>
    <li><a href="http://api.{{dns|safe}}/graphql">Asyncy API GraphQL</a></li>
    </ul>
  </body>
</html>
