<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Asyncy</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
  </head>
  <body>
    <ul>
    <li><a href="http://{{dns}}:8080">Traefik</a></li>
    <li><a href="http://metabase.{{dns}}">Metabase</a></li>
    <li><a href="http://app.{{dns}}">Asyncy App</a></li>
    <li><a href="http://hub.{{dns}}">Asyncy Hub</a></li>
    <li><a href="http://api.{{dns}}/graphql">Asyncy GraphQL</a></li>
    <li><a href="http://api.{{dns}}/graphiql">Asyncy GraphiQL</a></li>
    </ul>
  </body>
</html>
